{% extends 'kdstore/base.html' %}
{% block title %} Products cart {% endblock %}
{% block css %}
<style>
.fa-inr{
    display: contents !important;
}
.plus, .minus, .removeItem {
    background: #ffc107;
    color: black;
}
.total-price, #checkout{
    align-items: center;
}
.clear-width{
    width: 60%;
}
#clear{
    border: none;
}
.emptyCart{
    text-align: center !important;
    background: radial-gradient(#fff, #ffd6d6);
}
.emptyCart h6{
    font-size: large;
    color: black;
}
.cartProduct{
    border-top:1px solid red;
}
.cart-info img{
    width: 80px;
    height: 80px;
    object-fit: contain;
}
.fa-minus, .fa-plus{
    font-size: 30px;
}
.checkoutButton{
    background: #ffc107;
    color: black;
}
.qty{
    display: flex;
}
.qtyspan{
    padding: 0 5px;
}
@media only screen and (min-width:600px) {
    hr:first{
        width: 70%;
    }
}
@media only screen and (max-width:500px){
    .small-container{
        padding-left: 10px;
        padding-right: 10px;
    }
}
</style>
{% endblock %}

{% load static %}
{% block body %}
<div class="small-container cart-page">
    <h2 class="title">Products Cart</h2>
    <table>
        <tbody id="product">
        </tbody>
    </table>
    <div class="total-price my-3" id="cartFinal">
        <div class="clear-width">
    <button id="clear" class="clear-cart btn btn-primary" onclick="clearCart()">clear</button>

        </div>
        <table>
            <tr>
                <td>Total:</td>
                <td><i class="fa fa-inr mr-2" aria-hidden="true"></i><span id="total"></span></td>
            </tr>
        </table>
    </div>
    
</br>
    <div id="checkout"></div>
</div>

{% endblock %}

<!-- -----cart js----- -->

{% block js %}
<script>
    if (localStorage.getItem('cart') == null) {
        var cart = {};
    } else {
        cart = JSON.parse(localStorage.getItem('cart'));
    }
    var items = 0;
    for (item in cart) {
        let name = cart[item][1];
        let qty = cart[item][0];
        items = items + qty;

    }
    document.getElementById('cart').innerHTML = items;

    var sum = 0;
    var total = 0;
    if ($.isEmptyObject(cart)) {
        str = `<th class="emptyCart"><h6>Your cart is empty</h6>
            <img src="{% static 'kdstore/unnamed.png' %}"></th>`;
        $('#product').append(str);
        document.getElementById('cartFinal').style.display = "none";
    }
    else {
        head = `<tr><th>product</th>
            <th>quantity</th>
            <th>price</th></tr>`;
        $('#product').append(head);
        for (item in cart) {
            let name = cart[item][1];
            let quantity = cart[item][0];
            let price = cart[item][2];
            let qid = cart[item][3];
            let prodImage = cart[item][4];
            let pid = cart[item][5];
            sum = sum + quantity;
            total = total + quantity * price;

            product = `<tr class="cartProduct"><td>
                <div class="cart-info" id="productIn">
                    <a href="/product/${pid}"><img src="${prodImage}"></a>
                    <div>
                        <p><span id="name">${name}</span></p>
                        <button type="button" id="rm${qid}" class="btn btn-sm removeItem">remove</button>
                    </div>
                </div>
            </td>
            <td><div class="qty"><button id='minus${item}' class='btn btn-sm minus'><i class="fa fa-minus"></i></button> 
                <span class="qtyspan" id='${qid}'>${quantity}</span>
                <button id='plus${item}' class='btn btn-sm plus'><i class="fa fa-plus"></i></button>
</div></td>";
                <td><span id="p${qid}"><i class="fa fa-inr mr-2" aria-hidden="true"></i>${price}</span></td>
                </tr>`;


            $('#product').append(product);
            if(quantity>=1){
                document.getElementById('total').innerHTML = total;
            }
        }
        checkout = `<form action="/checkout/" method="post">{% csrf_token %}<div class="checkout" ><a href="/checkout/"><button class="btn checkoutButton">Checkout</button></a></div></form>`;
            $('#checkout').append(checkout);
    }
    


    $('.plus').on("click", function () {
        a = this.id.slice(6,);
        cart['pr' + a][0] = cart['pr' + a][0] + 1;
        document.getElementById('i' + a).innerHTML = cart['pr' + a][0];
        
        document.getElementById('pi' + a).innerText = cart['pr' + a][0] * cart['pr' + a][2];
        total = total + cart['pr' + a][2];
        document.getElementById('total').innerHTML = total;
        localStorage.setItem('cart', JSON.stringify(cart));
        
    });
    $('.minus').on("click", function () {
        if (cart['pr' + a][0] > 1) {
            total = total - cart['pr' + a][2];
        }
        a = this.id.slice(7,);
        cart['pr' + a][0] = cart['pr' + a][0] - 1;
        cart['pr' + a][0] = Math.max(1, cart['pr' + a][0]);
        document.getElementById('i' + a).innerHTML = cart['pr' + a][0];
        document.getElementById('pi' + a).innerText = cart['pr' + a][0] * cart['pr' + a][2];
        document.getElementById('total').innerHTML = total;
        localStorage.setItem('cart', JSON.stringify(cart));
    });

    $('.removeItem').on("click", function(){
        r = this.id.slice(3, );
        var rmi = 'pr'+r;
        delete cart[rmi];
        localStorage.setItem('cart', JSON.stringify(cart));
        window.location.reload();
    });

    function clearCart() {
        cart = JSON.parse(localStorage.getItem(cart));
        localStorage.clear();
        cart = {};
        window.location.reload();
        updateCart();
    }

</script>

{% endblock %}





